# pre-commit is a tool to perform a predefined set of tasks manually and/or
# automatically before git commits are made.
#
# Config reference: https://pre-commit.com/#pre-commit-configyaml---top-level
#
# Common tasks
#
# - Run on all files:   pre-commit run --all-files
# - Register git hooks: pre-commit install --install-hooks
#
repos:
  # Autoformat: markdown, yaml, json
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier

  # Autoformat and lint: typescript
  - repo: local
    hooks:
      - id: format
        name: Autoformat typescript
        files: ".*\\.ts"
        entry: npm run format
        language: system
        pass_filenames: false
      - id: lint
        name: Lint typescript
        files: "src/.*\\.ts"
        entry: npm run lint
        language: system
        pass_filenames: false
